nav{
    background-color: dimgray;
    height: 55px;
    border-radius: 3px;
    
}
a{
    border: 2px solid black;
    position: relative;
   left: 40%;
   top: 27%;
   color: black;
   padding-left: 25px;
   padding-right: 20px;
   padding-top: 3px;
   padding-bottom: 3px;
   text-decoration: none;
   margin-right: 8px;
   background-color: rgb(95, 160, 148);
   border-radius: 3px;
   font-size: 25px;
}