nav{
    background-color: dimgray;
    height: 55px;
    border-radius: 3px;
    
}
a{
    border: 2px solid black;
    position: relative;
   left: 40%;
   top: 27%;
   color: black;
   padding-left: 25px;
   padding-right: 20px;
   padding-top: 3px;
   padding-bottom: 3px;
   text-decoration: none;
   margin-right: 8px;
   background-color: rgb(95, 160, 148);
   border-radius: 3px;
   font-size: 25px;
}
p{
    text-align: center;

}
h1{
    text-align: center;
}
form{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#subt{
    margin-top: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
#guessfield{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
